* {
  margin: 0;
  padding: 0;
}

::root {
  --moveSubtitle: calc(5em + 20vh);
}

.header {
  width: 100%;
  height: 100vh;
  background-color: #FFE6D2;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.center {
  width: max-content;
  margin: auto;
  position: relative;
  height: max-content;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.inline-flex {
  display: inline-flex;
  flex-wrap: wrap;
}

.circle--one {
  margin-right: 1.5em;
  animation: pop 0.3s 0.4s forwards;
}

.circle--two {
  animation: pop 0.3s 0.7s forwards;
}

.circle {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: #02343A;
  opacity: 0;
  transform: scale(0);
}

.smile {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) rotate(60deg);
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  animation: smile 0.3s 0.5s forwards;
}

.header__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  position: absolute;
  bottom: 1.2em;
  right: 1.2em;
  text-align: right;
  color: #02343A;
}

.header__sub {
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes smile {
  0% {
    transform: translate(-50%, -50%) rotate(60deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
}